# Python fundamentals

# List

In [63]:
fruit = ['apple','mango','orange','pineapple','banana','cherry']
print(fruit)

['apple', 'mango', 'orange', 'pineapple', 'banana', 'cherry']

In [64]:
#adding elements to a list
fruit.append('strawberry')

In [65]:
print(fruit)

['apple', 'mango', 'orange', 'pineapple', 'banana', 'cherry', 'strawberry']

In [66]:
#length of the list
print(len(fruit))

7

In [67]:
#find the type of fruit
print(type(fruit))

<class 'list'>

In [68]:
#display the index of an element in a list
fruit.index('pineapple')

3

In [70]:
#reverse the order of elements in list 
fruit.reverse ()
print(fruit)

['apple', 'mango', 'orange', 'pineapple', 'banana', 'cherry', 'strawberry']

# Tuples

In [9]:
places = ("Trivandrum", "delhi", "mumbai","Kochi")
print(places)

('Trivandrum', 'delhi', 'mumbai', 'Kochi')

In [10]:
#length of tuples
print(len(places))

4

In [11]:
#display the type
print(type(places))

<class 'tuple'>

In [46]:
num=(100,2,1523,40,14569875,7777776,77777,4588,1859)

In [47]:
print(num)

(100, 2, 1523, 40, 14569875, 7777776, 77777, 4588, 1859)

In [48]:
print(type(num))

<class 'tuple'>

In [49]:
#dislay maximum value in the tuple
max(num)

14569875

In [51]:
#dislay minimum value in the tuple
min (num)

2

In [15]:
tuple3 = tuple(("tom", "jerry", "powerpuff girls"))

In [16]:
print(tuple3)

('tom', 'jerry', 'powerpuff girls')

In [17]:
print(type(tuple3))

<class 'tuple'>

# set

In [18]:
myfamily = {"neha", "rajeev", "saina","nihal","nirmal","neseebi","salim"}
print(myfamily)

{'salim', 'rajeev', 'nirmal', 'nihal', 'neha', 'saina', 'neseebi'}

In [19]:
print(type(myfamily))

<class 'set'>

In [20]:

print(len(myfamily))

7

In [22]:
set1 = {"abc", 14, True, 401, "female"}
print(set1)

{True, 'female', 'abc', 14, 401}

In [23]:
#display the type 
print(type(set1))

<class 'set'>

In [37]:
#Adding an element to the set
myfamily.add('Blue')

In [38]:
print(myfamily)

{'salim', 'rajeev', 'Blue', 'nirmal', 'nihal', 'neha', 'saina', 'neseebi'}

In [40]:
#joining two sets
myf={'sanam','firdous'}

print(myfamily.union(myf))

{'firdous', 'sanam', 'salim', 'rajeev', 'Blue', 'nirmal', 'nihal', 'neha', 'saina', 'neseebi'}

In [43]:
#find intersection of two sets
db={'rajeev','saina','nihal','nirmal'}
print(db.intersection(myfamily))

{'saina', 'rajeev', 'nirmal', 'nihal'}

# Dictionary

In [25]:
nehdict = {
  "name": "Neha",
  "Lname": "Rajeev Sainudeen",
  "year of birth": 1996
}
print(nehdict)

{'name': 'Neha', 'Lname': 'Rajeev Sainudeen', 'year of birth': 1996}

In [28]:
#dislay the value of Lname
print(nehdict["Lname"])

Rajeev Sainudeen

In [29]:
#display the length of dictionary
print(len(nehdict))

3

In [30]:
#display type
print(type(nehdict))

<class 'dict'>

In [32]:
nehdict2 = {
  "name": "Neha",
  "Lname": "Rajeev Sainudeen",
  "year of birth": 1996,
    "favourite colours":['red','black']
}
print(nehdict2)

{'name': 'Neha', 'Lname': 'Rajeev Sainudeen', 'year of birth': 1996, 'favourite colours': ['red', 'black']}

In [33]:
print(type(nehdict2))

<class 'dict'>

In [34]:
print(len(nehdict2))

4

In [36]:
print(nehdict2["favourite colours"])

['red', 'black']

 Github link : https://github.com/nehrjv/Data-warehousing-and-mining-lab